header ul li {
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: none;
    color: #fff;
    position: relative;
}

.aui-bar-light {
    color: #000;
}

.aui-title {
    color: #000
}

.aui-pull-right {
    color: #000
}

.aui-bar-nav .aui-btn .aui-iconfont {
    color: #000
}

.aui-bar-nav.aui-bar-light .aui-iconfont {
    color: #000;
}

header ul li.active {
    display: block;
}

#footer {
    background-color: #f2f2f2;
}


.img-p {
    width: 100%;
}

.color {
    color: #F75F48
}

.color2 {
    color: #fff
}

.color3 {
    color: #999999
}

.aui-bar-nav {
    background-color: #fff;
}

.aui-radio:checked, .aui-radio.aui-checked, .aui-checkbox:checked, .aui-checkbox.aui-checked {
    background-color: #F75F48;
    border: solid 1px #F75F48;
}

.aui-padded-15 {
    padding: 15px;
}

.label {
    width: auto;
    height: auto;
    color: #000;
    font-size: 0.6rem;
    background: #D6D6D6;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
}

.label input {
    display: none;
}

.label.check {
    color: #fff;
    background: #F75F48;
}

.order {
    text-align: right;
    background: #fff;
    overflow: hidden;
}

.order label {
    float: left;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
}

.order .aui-btn {
    border-radius: 0;
    padding: 0.6rem 1.5rem;
    margin-left: 1rem;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: #F75F48;
}

.mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-progress-bar {
    background-color: #F75F48;
}

.aui-btn-danger {
    border: 1px solid #F75F48;
    background-color: #F75F48 !important;
}

.aui-btn-danger.aui-btn-outlined {
    border: 1px solid #F75F48;
    color: #F75F48 !important;
}

.aui-btn-danger.aui-active, .aui-btn-danger:active {
    background-color: #E05F48 !important;
}

.btn-de {
    border: 1px solid #F1F1F1 !important;
    background-color: #F1F1F1 !important;
    color: #D6D6D6 !important;
}

.mui-numbox {
    position: relative;
}

.mui-numbox:after {
    content: '';
    position: absolute;
    top: 0;
    right: -100%;
    bottom: -100%;
    left: 0;
    -webkit-transform-origin: 0 0;
    pointer-events: none;
    -webkit-transform: scale(0.5);
    border: 1px solid #c8c7cc;
}

.mui-numbox .mui-numbox-input, .mui-numbox .mui-input-numbox {
    border-right: none !important;
    border-left: none !important;
}

.mui-numbox {
    border: none
}

.aui-tab-item.aui-active {
    color: #F75F48;
    border-bottom: 2px solid #F75F48;
}

.aui-bar-btn-item {
    border-color: #C8C7CC;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    background: #fff;
    padding-bottom: 10px;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
}

.swipe-wrap .swipe-box {
    float: left;
    width: 100%;
    position: relative;
}

.swipe-wrap .swipe-box img {
    width: 100%;
}

.aui-bar-nav .aui-iconfont {
    color: #000
}

.aui-btn-block {
    padding: 0.4rem 0;
}


@font-face {font-family: "iconfont";
    src: url('fonts/iconfont.eot?t=1476087795'); /* IE9*/
    src: url('fonts/iconfont.eot?t=1476087795#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/iconfont.woff?t=1476087795') format('woff'), /* chrome, firefox */
    url('fonts/iconfont.ttf?t=1476087795') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('fonts/iconfont.svg?t=1476087795#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-tixian:before { content: "\e64e"; }
.icon-auth:before { content: "\e61d"; }
.icon-daifukuan:before { content: "\e61a"; }
.icon-daishouhuo:before { content: "\e656"; }
.icon-yiwancheng:before { content: "\e604"; }
.icon-qianbao:before { content: "\e63c"; }
.icon-fenhongjilu:before { content: "\e619"; }
.icon-tubiao:before { content: "\e61b"; }
.icon-fuwurenwuguanli:before { content: "\e660"; }
.icon-zhipai:before { content: "\e6b7"; }
.icon-dailixinxi:before { content: "\e635"; }
.icon-xinpin-sm:before { content: "\e601"; }
.icon-rexiao:before { content: "\e602"; }
.icon-tuijian:before { content: "\e687"; }
.icon-shoucang:before { content: "\e639"; }

.aui-tab:after{
    width: 0
}

.aui-ellipsis-2{
    font-size: 0.7rem;
    height: 2.2rem;
}


.list-enter-active, .list-leave-active {
    transition: all 1s;
}
.list-enter, .list-leave-active {
    opacity: 0;
    transform: translateY(30px);
}
[v-cloak] {
    display: none;
}