<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title>关于我们</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="STATIC_PATH/assets/aui/aui.css"/>
    <style>
        .aui-list-view:after{
            border-top: none !important;
        }
    </style>
</head>
<body>
<div class="aui-content">
    <ul class="aui-list-view">
        <li class="aui-list-view-cell aui-img">
            <div class="aui-img-body">
                乐文易购
                <p>
                    图文列表缩略图在左边的样式，默认大小为80PX，文字介绍内容可以为一行也可以为两行，超出部分自动省
                    图文列表缩略图在左边的样式，默认大小为80PX，文字介绍内容可以为一行也可以为两行，超出部分自动省
                </p>
                <p>
                    图文列表缩略图在左边的样式，默认大小为80PX，文字介绍内容可以为一行也可以为两行，超出部分自动省
                    图文列表缩略图在左边的样式，默认大小为80PX，文字介绍内容可以为一行也可以为两行，超出部分自动省
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content">
    <p class="aui-text-center">
        Copyright@2015-2016
    </p>
    <p class="aui-text-center">
        乐文易购版权所有
    </p>
</div>
</body>
</html>