<html class="">
<head>
    <title> 法国进口 教堂城堡 教堂干红葡萄酒 750ml x6 整箱装【价格_图片】-当当触屏版</title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="application-name" content="当当触屏版">
    <link rel="apple-touch-icon-precomposed" href="http://img62.ddimg.cn/upload_img/00555/touch/touch-icon-iphone.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img61.ddimg.cn/upload_img/00555/touch/touch-icon-ipad.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img63.ddimg.cn/upload_img/00555/touch/touch-icon-iphone4.png">
    <meta name="description" content="当当为您提供 法国进口 教堂城堡 教堂干红葡萄酒 750ml x6 整箱装 ， 法国进口 教堂城堡 教堂干红葡萄酒 750ml x6 整箱装价格与图片，购买 法国进口 教堂城堡 教堂干红葡萄酒 750ml x6 整箱装正品行货就来当当网！">
    <meta name="keywords" content=" 法国进口 教堂城堡 教堂干红葡萄酒 750ml x6 整箱装， 法国进口 教堂城堡 教堂干红葡萄酒 750ml x6 整箱装价格， 法国进口 教堂城堡 教堂干红葡萄酒 750ml x6 整箱装图片">
    <meta name="author" content="m.dangdang.com">
    <meta name="version" content="ddtouch">
    <meta http-equiv="Cache-Control" content="must-revalidate,no-cache">
    <link rel="stylesheet" href="http://product.m.dangdang.com/corecss/common.css?v=20170118">
    <link rel="stylesheet" href="http://product.m.dangdang.com/css/product.css?v=20170118">
    <script>
        var sid = "04e1b4bafbe89b1ac84f8d41a50c086c";
    </script>
</head>
<body class="defwidth">
<script>
    var reduce_grade_cart_product_total = true;
    var reduce_grade_get_bought_mark = true;
    var reduce_grade_check_if_collected = true;

    var php_product_url = "http://product.m.dangdang.com/";
    var login_url = "https://mpassport.dangdang.com/login.php?burl=http%3A%2F%2Fproduct.m.dangdang.com%2F1085939548.html%3Fsid%3D04e1b4bafbe89b1ac84f8d41a50c086c&sid=04e1b4bafbe89b1ac84f8d41a50c086c";
</script>
<header class="header">
    <a href="javascript:history.back();" class="back"></a>
    <h1><em>商品详情</em></h1>
    <a href="javascript: void(0)" class="menu"></a>
    <nav class="t-nav">
        <ul>
            <li><a href="javascript:void(0)" class="home">首页</a></li>
            <li><a href="javascript:void(0)" class="search">搜索</a></li>
            <li><a href="javascript:void(0)" class="category">分类</a></li>
            <li><a href="javascript:void(0)" class="cart">购物车</a></li>
            <li><a href="javascript:void(0)" class="user">我的</a></li>
        </ul>
    </nav>
</header>

<!-- 轮播开始 -->
<div id="bigpic">
    <div id="cell">
        <section class="turn">
            <!-- 添加已购标识 -->
            <span class="alreadBought j_alreadBought"></span>

            <!-- 添加试读按钮 -->

            <section id="slider">
                <ul class="top-slider" style="width: 300%; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(-640px, 0px) translateZ(0px);">
                    <li style="width:33.333333333333%">
                        <a>
                            <img src="http://img3x8.ddimg.cn/34/19/1085939548-1_e_6.jpg">
                        </a>
                    </li>
                    <li style="width:33.333333333333%">
                        <a>
                            <img class="" src="http://img3x8.ddimg.cn/34/19/1085939548-2_e_6.jpg">
                        </a>
                    </li>
                    <li style="width:33.333333333333%">
                        <a>
                            <img class="" src="http://img3x8.ddimg.cn/34/19/1085939548-3_e_4.jpg">
                        </a>
                    </li>
                </ul>
                <div class="dot">
                    <ul>
                        <li class=""></li>
                        <li class=""></li>
                        <li class="on"></li>
                    </ul>
                </div>
            </section>
        </section>
    </div>
</div>
<!-- 轮播结束 -->

<!-- 大促标识banner开始 -->

<!-- 大促标识banner结束 -->

<!-- 详情区域开始 -->
<section class="detail j_detail">

    <article> 法国进口 教堂城堡 教堂干红葡萄酒 750ml x6 整箱装</article>
    <div class="product_subname" style="-webkit-line-clamp: 1;">自营进口红酒</div>

    <div class="left">
        <!--<b>&yen;<span id="main_price">99.00</span></b>-->
        <b>¥<span id="main_price">99.00</span></b>
        <aside>
            <!-- 标签一坑开始 -->

            <!-- 标签一坑结束 -->
            <!-- 标签二坑开始 -->

            <span class="j_second_promo_icon" style="background-color:#ff5753;  ">
				限时抢			</span>

            <!-- 标签二坑结束 -->
            <!-- 标签三坑-手动签开始 -->
            <!-- 标签三坑-手动签结束 -->
        </aside>
    </div>


    <!-- 倒计时逻辑开始 -->

    <!-- 倒计时逻辑结束 -->


    <div class="ensure">
        <ul class="j_product_info">


            <li class="icon_support">商家发货&amp;售后</li>


            <li class="icon_support">正品保障</li>


            <li class="icon_notsupport">不支持7天退换</li>


            <li class="icon_support">支持礼品卡</li>

        </ul>
    </div>
</section>
<!-- 详情区域结束 -->



<!-- 当当配送开始  如果是电子书 不显示-->
<section  class="jump_detail">
    <a class="arrow_con">
        <dl class="arrow">
            <dt>
                商家配送：
            </dt>
            <dd>
                北京&gt;北京市&gt;东城区<br>
                运费10元,满49元免运费<br>
            </dd>
        </dl>
    </a>
</section>
<!-- 当当配送结束 -->

<!-- 配送开始 -->
<section class="select_box" style="visibility: hidden; height: auto;">
    <section class="title">
        <a class="back">返回</a>
        <span class="title">选择配送地区</span>
        <a class="close">关闭</a>
    </section>
    <div id="regionScroller">
        <section style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
            <dl class="content"></dl>
        </section>
    </div>
</section>
<!-- 配送结束 -->
<!-- 选项开始 -->
<!-- 数量开始 -->
<section class="quantity">
    <h4>数量：</h4>
    <div class="number_con">
        <span class="minus">-</span>
        <div class="input"><input id="buy_num" type="text" value="1"></div>
        <span class="plus on">+</span>

    </div>
</section>
<!-- 数量结束 -->
<!-- 图文详情开始 -->
<section class="jump">
    <a id="detail_link" href="javascript:void(0)" class="arrow_con">
        <div class="arrow">
            <h4>图文详情</h4>
        </div>
    </a>
</section>
<!-- 图文详情结束 -->

<!-- 更多卖家开始 -->
<!-- 更多卖家结束 -->
<!-- 商品评论开始 -->
<section class="review_area">
    <section class="jump">
        <a href="javascript:void(0)" class="arrow_con">
            <div class="arrow">
                <h4>商品评论（64）</h4>
                <em>好评率95.3%</em>
            </div>
        </a>
    </section>
</section>
<!-- 商品评论结束 -->


<!-- 店铺评价开始 -->
<section class="shop">
    <a href="javascript:void(0)">
        <div class="shop_con arrow_con evaluate">
            <div class="arrow">
                <div class="logo"><img src="http://img36.ddimg.cn/imgother/201609/19_0/201609191040216.jpg" alt="昊海国际店"></div>
                <div class="name">昊海国际店</div>
            </div>
        </div>
    </a>
    <ul class="evaluation" style="display: none;">
        <li>
            <p>描述相符</p>
            <em>-</em>
        </li>
        <li>
            <p>服务态度</p>
            <em>-</em>
        </li>
        <li>
            <p>发货速度</p>
            <em>-</em>
        </li>
        <li>
            <p>关注人数</p>
            <em>-</em>
        </li>
    </ul>
    <div class="shop_btn j_shop_btn" style="display: none;">
        <span><a id="collect_shop">关注店铺</a></span>
        <span><a href="javascript:void(0)">进店逛逛</a></span>
    </div>
</section>
<!-- 店铺评价结束 -->

<!-- 猜你喜欢开始 -->
<section class="J_guess">
    <section class="guess">
        <div class="title_con"><span class="title">猜你喜欢</span>
            <div class="line"></div>
        </div>
        <ul>

            <li>

                <a href="javascript:void(0)">

                    <aside><img class="" src="http://img3x3.ddimg.cn/71/11/1483475273-1_b_5.jpg"></aside>
                    <span>伯克龙保暖背心男加绒加厚纯色棉质紧身背心  【顺丰包邮】领满100减10券</span>
                    <em>￥198.00</em>
                </a>
            </li>


            <li>

                <a href="javascript:void(0)">

                    <aside><img class="" src="http://img3x4.ddimg.cn/22/12/60634354-1_b_1.jpg"></aside>
                    <span>优品推荐 304不锈钢欧式真空保温壶暖壶  双层不绣钢 抽真空工艺 更保温</span>
                    <em>￥129.00</em>
                </a>
            </li>

            <li>

                <a href="javascript:void(0)">

                    <aside><img class="" src="http://img3x5.ddimg.cn/23/13/60634355-1_b_1.jpg"></aside>
                    <span>优品推荐 304不锈钢欧式真空保温壶暖壶  双层不绣钢 抽真空工艺 更保温</span>
                    <em>￥129.00</em>
                </a>
            </li>

            <li>

                <a href="javascript:void(0)">

                    <aside><img class="" src="http://img3x5.ddimg.cn/71/2/60635195-1_b_1.jpg"></aside>
                    <span>优品推荐 304不锈钢内胆双层真空保温壶  内胆304更健康 防尘盖设计更卫生</span>
                    <em>￥129.00</em>
                </a>
            </li>

        </ul>
    </section>
</section>
<!-- 猜你喜欢结束 -->


<!-- 购物车开始 -->
<section class="shopping_cart">

    <div class="btn_fav_cart">

        <div class="fav">
            <a dd_name="收藏商品">收藏</a>
        </div>
        <a  class="cart" dd_name="查看购物车">
            <span>购物车<i></i></span>
            <p class="cart_name">购物车</p>
        </a>


    </div>
    <div class="btn_con">
        <a href="javascript:void(0);"><button class="buy J_buy" dd_name="直接购买">立即购买</button></a>
        <a href="javascript:void(0);"><button class="add" dd_name="加入购物车">加入购物车</button></a>
    </div>

</section>
<!-- 购物车结束 -->
<form id="product_form" action="http://mcheckout.dangdang.com/h5_checkout.php" method="post">
    <input type="hidden" value="touch" name="user_client">
    <input type="hidden" value="1.0" name="client_version">
    <input type="hidden" value="get_order_flow" name="action">
    <input type="hidden" value="p-324867m-133-b" name="union_id">
    <input type="hidden" value="20170208145437380315540190591369372" name="permanent_id">
    <input type="hidden" value="0" name="shop_id">
    <input type="hidden" value="04e1b4bafbe89b1ac84f8d41a50c086c" name="udid">
    <input type="hidden" value="1486537766" name="timestamp">
    <input type="hidden" value="466f28ecf0395fa11a69aada2a73d0e6" name="time_code">
    <input type="hidden" value="ddapp_h5|" name="order_follow_source">

</form>

<!-- popup开始 -->
<section class="popup">
    <div class="box">
        <p class="cell">
			<span class="con">
				<span class="title">温馨提示</span>
				<span class="info"></span>
				<a href="javascript:void(0);" class="btn determine" ontouchstart="">确定</a>
				<a href="javascript:void(0);" class="btn cancel" ontouchstart="">取消</a>
				<a href="javascript:void(0);" class="btn ok" ontouchstart="">确定</a>
			</span>
        </p>
    </div>
</section>
<script type="text/javascript">
    var prd_info = {
        "product_info_new": {
            "brand": "\u6559\u5802\u57ce\u5821",
            "product_id": "1085939548",
            "original_price": "99.00",
            "sale_price": "199.00",
            "discount": "66.56",
            "mobile_exclusive_price": {"exclusive_price": "", "exclusive_price_max": "", "exclusive_begin_date": "", "exclusive_end_date": ""},
            "is_vip_discount": "0",
            "product_points": "995",
            "product_points_gold": "995",
            "product_points_diamond": "995",
            "is_shop_vip": "0",
            "vip_price_1": "199.00",
            "vip_price_2": "199.00",
            "vip_price_3": "199.00",
            "is_presale": "0",
            "product_name": "[\u5f53\u5f53\u81ea\u8425] \u6cd5\u56fd\u8fdb\u53e3 \u6559\u5802\u57ce\u5821 \u6559\u5802\u5e72\u7ea2\u8461\u8404\u9152 750ml x6 \u6574\u7bb1\u88c5",
            "display_status": "0",
            "is_direct_buy": "0",
            "main_product_id": "0",
            "shop_id": "19068",
            "product_medium": "12",
            "product_type": "0",
            "category_id": "4005636",
            "is_catalog_product": "0",
            "has_ebook": "",
            "subname": "\u81ea\u8425\u8fdb\u53e3\u7ea2\u9152",
            "sup_id": "",
            "relation_type": "",
            "support_seven_days": "1",
            "activity_type": "0",
            "tax_rate": "0",
            "is_overseas": "0",
            "publish_info": {"publisher": "", "author_name": "", "product_size": "", "print_copy": "", "paper_quality": "", "publish_date": "1970-01", "number_of_pages": "", "number_of_words": "", "version_num": "", "singer": "", "director": "", "actors": "", "prod_length": "", "effective_period": "", "subtitle_language": "", "binding": "", "manufacture_format": "", "author_arr": [], "standard_id": ""},
            "promo_model": [{"start_date": "2017-02-07 14:31:00", "end_date": "2017-02-15 10:00:00", "promo_class": "1", "is_enabled_coupon": "0", "is_enabled_coupon_promo": "0", "limit_buy_num": "10000", "promotion_id": "3980149", "promotion_type": "102", "promotion_name": "\u9650\u65f6\u62a2", "promotion_expire": true, "limit_time_left": "6\u592918\u5c0f\u65f650\u5206", "word": "\u62a2\u8d2d\u4ef7\uffe599.00,\u8fd8\u52696\u592918\u5c0f\u65f650\u5206\u7ed3\u675f", "red": ["\uffe599.00"], "is_strike": true}],
            "promo_title": [],
            "presale_model": [],
            "coupon_model": [],
            "stock_info": {"stock_status": "1"},
            "pre_sale": "0",
            "category_info": {"category_id": "4005636", "category_path": "58.32.15.18.00.00", "path_name": "\u996e\u6599\/\u6c34", "has_sub_path": "0", "refund_expire_days": "", "confirm_refund_expire_days": "", "exchange_expire_days": "", "confirm_exchange_expire_days": "", "category_orderno": "949", "category_fullpath": "", "guan_id": "4000006", "catid_path": "-4002145-4003599-4005636-", "full_categorys": [{"category_id": "4002145", "path_name": "\u98df\u54c1", "category_path": "58.32.00.00.00.00"}, {"category_id": "4003599", "path_name": "\u8fdb\u53e3\u98df\u54c1", "category_path": "58.32.15.00.00.00"}, {"category_id": "4005636", "path_name": "\u996e\u6599\/\u6c34", "category_path": "58.32.15.18.00.00"}], "book_detail_category": "\u98df\u54c1>\u8fdb\u53e3\u98df\u54c1>\u996e\u6599\/\u6c34"},
            "collection_num": "0",
            "total_review_count": "64",
            "is_ebook": 0,
            "abstract": "",
            "images": ["http:\/\/img3x8.ddimg.cn\/34\/19\/1085939548-1_l_6.jpg", "http:\/\/img3x8.ddimg.cn\/34\/19\/1085939548-2_l_6.jpg", "http:\/\/img3x8.ddimg.cn\/34\/19\/1085939548-3_l_4.jpg"],
            "images_big": ["http:\/\/img3x8.ddimg.cn\/34\/19\/1085939548-1_e_6.jpg", "http:\/\/img3x8.ddimg.cn\/34\/19\/1085939548-2_e_6.jpg", "http:\/\/img3x8.ddimg.cn\/34\/19\/1085939548-3_e_4.jpg"],
            "stars": {"full_star": 5, "has_half_star": false, "star_html": "<img src=\"images\/star_all.gif\" alt=\"\" width=\"12\" height=\"11\" \/><img src=\"images\/star_all.gif\" alt=\"\" width=\"12\" height=\"11\" \/><img src=\"images\/star_all.gif\" alt=\"\" width=\"12\" height=\"11\" \/><img src=\"images\/star_all.gif\" alt=\"\" width=\"12\" height=\"11\" \/><img src=\"images\/star_all.gif\" alt=\"\" width=\"12\" height=\"11\" \/>"},
            "is_pub_product": 0,
            "ebook_info": {"read_ebook_at_h5": false, "ebook_download_url": "http:\/\/e.dangdang.com\/media\/api.go?action=downloadMediaWhole", "ebook_download_app_url": "http:\/\/img61.ddimg.cn\/ddreader\/load\/download.jpg", "ddreader_download_url": "http:\/\/img63.ddimg.cn\/image_logo\/new_ddreader_download.png"},
            "is_yb_product": false,
            "is_show_arrive": 0,
            "share_url": "http:\/\/product.m.dangdang.com\/product.php?pid=1085939548",
            "bd_promo_price": "99.00",
            "show_price_name": "bd_promo_price",
            "template_id": "35513",
            "is_support_mobile_buying": 1,
            "show_dangdangsale": 0,
            "in_wishlist": 0,
            "new_price": {"price_1": "99.00", "price_2": "", "vip_name": "", "price1_name": "bd_promo_price", "price2_name": "", "is_show_discount": 0, "is_show_dimesion": 0},
            "is_have_dimesion": 0,
            "product_manual_label": "",
            "promo_label": [],
            "is_virtual_bind_product": 0,
            "page_template": {"code": "3", "name": "\u767e\u8d27\uff08\u975e\u670d\u88c5\u7c7b\u7684\u767e\u8d27\uff09"},
            "platform_banner": [],
            "show_vip_price": 0,
            "baby_book_judge": {"baby_in_book": 0},
            "spuinfo": null
        },
        "shop_info": {"zip": "10000", "location": "1", "domain": "shop.dangdang.com\/19068", "contact": "<p>4008616775<\/p>\n", "status": "1", "delivery": "", "treasure": "", "shop_id": "19068", "shop_name": "\u5f53\u5f53\u81ea\u8425\u660a\u6d77\u56fd\u9645\u5e97", "promo_msg": "", "shop_type": "6", "delivery_fee_least": "", "delivery_address": "\u5317\u4eac-\u5317\u4eac\u5e02", "shop_is_cod": "0", "is_self_cod": "0", "logo_image_url": "", "charter_start_time": "", "is_support_360image": "0", "is_self_online": "", "customs_declare_code": "", "account_declare_code": "", "ebusiness_company_code": "", "ebusiness_company_name": "", "customs_clearance_mode": "", "is_support_ddb": "1", "shop_logo": "http:\/\/img36.ddimg.cn\/imgother\/201609\/19_0\/201609191040216.jpg", "is_collected": false},
        "shop_promo": {"promotion_name": ""},
        "product_attr": {"mainproduct": null},
        "product_desc": "",
        "product_desc_sorted": [],
        "also_buys": [],
        "relation_product": []
    };
    var is_weixin = false;
    var prd_cfg = {};
    prd_cfg.review_url = "http://product.m.dangdang.com/review.php?action=get_review_info&sid=04e1b4bafbe89b1ac84f8d41a50c086c";
    var canOnlyBuy = 0;
</script>
<footer class="footer new">
    <section class="status-bar">
        <div class="actions-wrap">
            <a href="javascript:void(0)">登录</a>
            <a href="javascript:void(0)">注册</a>
        </div>
    </section>
    <nav class="b-nav">
        <p>
            <a href="javascript:void(0)" >提建议</a>
            <a href="javascript:void(0)" >触屏版</a>
            <a href="javascript:void(0)">电脑版</a>
            <a href="javascript:void(0)">帮&nbsp;&nbsp;助</a>
        </p>
    </nav>
    <section class="copyright">
        <p>Copyright ©2017 北京xxx信息技术有限公司</p>
        <p>北京xxxxxx环东路8号，100028</p>
    </section>
</footer>
<!-- 购物车占位开始 -->
<section class="space"></section>
<!-- 购物车占位结束 -->

<script src="http://product.m.dangdang.com/corejs/zepto.min.js"></script>
<script src="http://product.m.dangdang.com/corejs/underscore.min.js"></script>
<script src="http://product.m.dangdang.com/corejs/iscroll5.min.js"></script>
<script src="http://product.m.dangdang.com/corejs/fastclick.min.js"></script>
<script src="http://product.m.dangdang.com/corejs/common.min.js?v=20161214"></script>
<script src="http://product.m.dangdang.com/js/product.min.js?v=20161214"></script>
<script src="http://click.dangdang.com/js_tracker.js?20170208"></script>
</body>
</html>

<script>
    Zepto(function ($) {
        if($.os.ios){
            window.location.href="yuncaiproduct://";
            //window.location.href="https://www.baidu.com/";
        }
        $('a').bind('click', function(){
            if($.os.ios){
                window.location.href="yuncaiproduct://";
                //window.location.href="https://www.baidu.com/";
            }
        });
    });
</script>